<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <article>
        <p><a href="/blog">&larr; back to the blog</a></p>
        <hr>
        <header>
                <h1>{{data.post.title}}</h1>
                <h5>
                        {{{categoryList data.post.categories prefix="Posted in "}}}
                        {{#if author.name.first}}by {{author.name.first}}{{/if}}
                </h5>
        </header>
        <div class="post">
                {{{data.post.content.extended}}}
        </div>
      </article>
    </div>
  </div>
        
  <div class="row">
    <div class="col-md-12">
      <div id="disqus_thread"></div>
      
      <script>

      /*
      *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
      *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
      */
      
      var disqus_config = function () {
        // Replace PAGE_URL with your page's canonical URL variable
        this.page.url = 'http://christroutner.com/blog/post/{{data.post.slug}}';
        // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        this.page.identifier = '{{data.post.slug}}'; 
      };
      
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = '//rpiovn.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

    </div>
  </div>
</div>
