<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <style>
    h1, h2, h3, h4, h5, p, ul, ol, li {
      font-family: 'Montserrat', sans-serif;
      color: #594a42;
    }
    
  </style>

<div class="container">  
	<div class="row">
		<div class="col-md-8">
			<h1>{{data.project.title}}</h1>
      {{{data.project.basicInfo}}}
    </div>  
    <div class="col-md-4">
      <img src="/images/rpi-tracker.jpg" class="img-responsive center-block" />
    </div>
  </div>
  
  <div class="row" style="background-color: #f7f7f9;">
   	<div class="col-md-12">
      <h2>Summary</h2>
      {{{data.project.summary}}}
    </div>
	</div>
  
  <div class="row">
   	<div class="col-md-12">
      <h2>Hardware</h2>
      {{{data.project.hardware}}}
    </div>
	</div>
  
  <div class="row" style="background-color: #f7f7f9;">
   	<div class="col-md-12">
      <h2>Software</h2>
      {{{data.project.software}}}
    </div>
	</div>
  
  <div class="row">
   	<div class="col-md-12" id="faqSection" hidden>
      <br>
      <h2>Frequently Asked Questions</h2>
      <div id="faqContent"></div>
    </div>
	</div> 
  
  <div class="row">
   	<div class="col-md-12" id="faqSection" hidden>
      <br>
      <h2>Latest Work Entries</h2>
      <div id="workLogs"></div>
    </div>
	</div>
  
  <script type="text/javascript">
    $(document).ready(function() {
      
      //Get project FAQ info
      $.get('/api/projectinfo/list', '', function(data) {
        //debugger;
        
        var projectInfo = data.projectinfo;
        
        for(var i=0; i < projectInfo.length; i++) {
          var slug = "{{{data.project.slug}}}";
          
          //Ignore all projects except the one we're interested in.
          if(projectInfo[i].slug == slug) {

            if(projectInfo[i].faqTitle.length > 0) {
              $('#faqSection').prop('hidden', false)
      
              for(var j=0; j < projectInfo[i].faqTitle.length; j++) {
                $('#faqContent').append('<h3>'+projectInfo[i].faqTitle[j]+'</h3>');
                $('#faqContent').append(projectInfo[i].faqBody[j]);
                $('#faqContent').append('<br>');
              }
            }
          }
        }
        
      });
      
      //Get work log info
      var page = 1;
      
      var obj = {};
      obj.page = page;
      
      var workPromise = getWork(obj);
      workPromise.then(function(results) {
        debugger;
      }, function(err) {
        debugger;
      });
      
      
      
    });
    
    function getWork(obj) {
      var promise = new Promise(function(resolve, reject) {
        
        $.get('/api/logwork/list/last50', obj, function(data) {
          debugger;
        
          resolve(data.loggedwork);
        });
        
      });
      
      return promise;
    }
    
  </script>
</div>
