<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <style>
    h1, h2, h3, h4, h5, p, ul, ol, li {
      font-family: 'Montserrat', sans-serif;
      color: #594a42;
    }
    
  </style>

<div class="container">  
	<div class="row">
		<div class="col-md-8">
			<h1>{{data.project.title}}</h1>
      {{{data.project.basicInfo}}}
    </div>  
    <div class="col-md-4">
      <img src="/images/rpi-tracker.jpg" class="img-responsive center-block" />
    </div>
  </div>
  
  <div class="row">
   	<div class="col-md-12">
      <h2>Summary</h2>
      {{{data.project.summary}}}
    </div>
	</div>
  
  <div class="row">
   	<div class="col-md-12">
      <h2>Hardware</h2>
      {{{data.project.hardware}}}
    </div>
	</div>
  
  <div class="row">
   	<div class="col-md-12">
      <h2>Software</h2>
      {{{data.project.software}}}
    </div>
	</div>
  
  <script type="text/javascript">
    var imgUrls = '{{data.project.imgUrls}}';
    var faqTitle = '{{{data.project.faqTitle}}}';
    var faqBody = '{{{data.project.faqBody}}}';
  </script>
</div>
